.ad{
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #eee;
    border-radius: 0.25rem;
}

.ad p{
    margin: 8px 0;
}

.ad>a{
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

/*author*/
.ad p:nth-child(2){
    font-weight: 600;
}

/*description*/
.ad p:nth-child(3){
    max-height: 120px;
    overflow: hidden;  
}

/*creationDate*/
.add-footer p{
    font-style: italic;
}

.add-footer{
    display: flex;
    justify-content: space-between;
}

.my-pagination{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



